{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="destination-detail">
        <div class="row padder"></div>
        <div class="row text-center">
            <h1 class="title">{{ destination.dest_name }}</h1>
        </div>
        <div class="row">
            <div class="col">
                <!-- <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner gallery"> -->

                      <!-- <div class="carousel-item active">
                        <img src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/03/a0003469/img/basic/a0003469_main.jpg?20200807174214" class="d-block screen w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.japan-guide.com/g18/3026_01.jpg" class="d-block screen w-100" alt="...">
                      </div> -->
                      <!-- <div class="carousel-item">
                        <img src="https://www.payscathare.org/sites/payscathare/files/styles/ogimage/public/page/chateau-et-remparts-de-la-cite-de-carcassonne-deutsch-1509616843.jpg?itok=KVyzTlJV" class="d-block screen w-100" alt="...">
                      </div> -->
                        
                        <!-- {% for photo in destination.photo_set.all %}
                            <div class="carousel-item">
                                <img src="{{photo.url}}" class="d-block screen w-100" alt="...">
                            </div>
                        {% empty %}
                            <div class="text-center">No Photos Uploaded</div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div> -->
                
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner gallery">
                      <!-- <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div> -->
                        {% for photo in destination.photo_set.all %}
                            <div class="carousel-item">
                                <img src="{{photo.url}}" class="d-block screen w-100" alt="...">
                            </div>
                        {% empty %}
                            <div class="text-center">No Photos Uploaded</div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            
            </div>

            <!-- <div class="col gallery d-flex justify-content-center">
            {% for photo in destination.photo_set.all %}
                <img class="img-fluid" src="{{photo.url}}">
            {% empty %}
                <div class="text-center">No Photos Uploaded</div>
            {% endfor %} -->
        </div>

            <script>
                document.querySelector('.gallery .carousel-item').classList.add('active')
            </script>

        </div>   
        <div class="padder"></div>
        
        <div class="row">
            <div class="col placeholder">
                <h1 class="">MAP GOES HERE</h1>
            </div>
            <div class="col text-center">
                <h3 class="sub-title">{{ destination.dest_country }}</h3>
                <h4 class="sub-title">Address: {{ destination.dest_address }}</h4>
                <a href="{% url 'add_stop' era.id destination.id %}">
                    <button class="btn">Add to Itinerary</button>
                </a>
                <p class="sub-title destination-card">{{ destination.dest_description }}</p>
            </div>
        </div>

<!-- version for no map  -->
        <!-- <div class="row">
            <div class="col text-center">
                <h3 class="sub-title">{{ destination.dest_country }}</h3>
                <h4>Address: {{ destination.dest_address }}</h4>
            </div>
            <div class="col text-center">
                <h4 class="sub-title">Price Range: {{ destination.price_range }}</h4>
                <a href="{% url 'add_stop' era.id destination.id %}">
                    <button class="btn">Add to Itinerary</button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <p class="sub-title destination-card">{{ destination.dest_description }}</p>
        </div> -->

    </div>
    <div class="padder"></div>
    

</section>






{% endblock %}