{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="destination-detail">
        <div class="row padder"></div>
        <div class="row text-center">
            <h1 class="title">{{ destination.dest_name }}</h1>
        </div>
        <div class="row">
            <div class="col">
            {% for photo in destination.photo_set.all %}
                <img class="img-fluid" src="{{photo.url}}">
            {% empty %}
                <div class="">No Photos Uploaded</div>
            {% endfor %}
            <!-- TODO: if time / more photos, make a carousel -->
            </div>
        </div>   



        <div class="row">
            <div class="col">
                <h1>MAP GOES HERE</h1>
            </div>
            <div class="col text-center">
                <h3 class="sub-title">{{ destination.dest_country }}</h3>
                <h4 class="sub-title">Address: {{ destination.dest_address }}</h4>
                <a href="{% url 'add_stop' era.id destination.id %}">
                    <button class="btn">Add to Itinerary</button>
                </a>
                <p class="sub-title">{{ destination.dest_description }}</p>
            </div>
        </div>

<!-- version for no map  -->
        <!-- <div class="row">
            <div class="col text-center">
                <h3 class="sub-title">{{ destination.dest_country }}</h3>
                <h4>Address: {{ destination.dest_address }}</h4>
            </div>
            <div class="col text-center">
                <h4 class="sub-title">Price Range: {{ destination.price_range }}</h4>
                <a href="{% url 'add_stop' era.id destination.id %}">
                    <button class="btn">Add to Itinerary</button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <p>{{ destination.dest_description }}</p>
        </div> -->

    </div>
    <div class="padder"></div>
    

</section>






{% endblock %}