{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="destination-detail">
        <div class="row padder"></div>
        <div class="row text-center">
            <h1 class="title">{{ destination.dest_name }}</h1>
        </div>
        <div class="row">
            <div class="col">
                <!-- carousel to hold multiple images for destination -->
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner gallery">
                        {% for photo in destination.photo_set.all %}
                            <div class="carousel-item">
                                <img src="{{photo.url}}" class="d-block screen w-100" alt="...">
                            </div>
                        {% empty %}
                            <div class="text-center">No Photos Uploaded</div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    <!-- script to find first image and apply active class so the carousel works -->
        <script>
            document.querySelector('.gallery .carousel-item').classList.add('active')
        </script>
 
        <div class="padder"></div>
        <!-- version for no map -->
        <div class="row">
            <div class="col text-center">
                <h3 class="sub-title">{{ destination.dest_country }}</h3>
                <h4>Address: {{ destination.dest_address }}</h4>
            </div>
            <div class="col text-center">
                <h4 class="sub-title">Price Range: {{ destination.price_range }}</h4>
                <a href="{% url 'add_stop' era.id destination.id %}">
                    <button class="btn">Add to Itinerary</button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <p class="sub-title destination-card">{{ destination.dest_description }}</p>
        </div>
                
            <!-- version for iframe map  -->
            <!-- <div class="row">
                <div class="col placeholder">
                    <h1 class="">MAP GOES HERE</h1>
                </div>
                <div class="col text-center">
                    <h3 class="sub-title">{{ destination.dest_country }}</h3>
                    <h4 class="sub-title">Address: {{ destination.dest_address }}</h4>
                    <a href="{% url 'add_stop' era.id destination.id %}">
                        <button class="btn">Add to Itinerary</button>
                    </a>
                    <p class="sub-title destination-card">{{ destination.dest_description }}</p>
                </div>
            </div> -->
        
    </div>
    <div class="padder"></div>
    
</section>


{% endblock %}