asgiref==3.7.2
boto3==1.28.30
botocore==1.31.30
certifi==2023.5.7
crispy-bootstrap5==0.7
crispy-tailwind==0.5.0
distlib==0.3.6
dj-database-url==2.1.0
Django==4.2.4
django-bootstrap-datepicker-plus==5.0.4
django-classy-tags==4.1.0
django-cms==3.11.3
django-crispy-forms==2.0
django-environ==0.10.0
django-formtools==2.4.1
django-heroku==0.3.1
django-sekizai==4.1.0
django-treebeard==4.7
djangocms-admin-style==3.2.4
environ==1.0
filelock==3.12.2
gunicorn==21.2.0
jmespath==1.0.1
packaging==23.1
pipenv==2023.6.12
platformdirs==3.5.3
psycopg2==2.9.7
psycopg2-binary==2.9.7
python-dateutil==2.8.2
s3transfer==0.6.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==1.26.16
virtualenv==20.23.0
virtualenv-clone==0.5.7
whitenoise==6.5.0