{% extends 'base.html' %}

{% block content %}

<!-- itin_edit form -->
<section class="container">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                {% if object %}
                    <h1 class="title">Edit <span class="teal-text">{{ object.init_name }}</span></h1>
                {% else %}
                    <h1 class="title">Create An Itinerary</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col justify-content-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        <!-- Shaun to review if this is what he wants eg table vs p vs else -->
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

{% endblock %}