{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<section class="container text-center">
    <div class="padder"></div>
    <div class="">
        <div class="row">
            <div class="col"></div>
            <div class="col form-filler">
                <h1 class="title">Confirm Deletion</h1>
                <p>Itinerary Deletion</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col form-filler">
                <h4 class="title">Are you sure you want to delete <span class="">"{{ object.init_name }}"</span>?</h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col form-filler">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn">
                </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="padder"></div>
        <a href="{% url 'itins_detail' object.id %}"><button class="btn">Cancel</button></a>
        <div class="padder"></div>
    </div>

</section>
{% endblock %}