{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- itin_edit form -->
<section class="container">
    <div class="container" >
        <div class="row text-center">
            <div class="col">
                {% if object %}
                    <h1 class="title">Edit <span class="">{{ object.init_name }}</span></h1>
                {% else %}
                    <h1 class="title">Create An Itinerary</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col justify-content-center" id="functionality-crispy-form-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{form.init_name|as_crispy_field}}
                        {{form.itin_description|as_crispy_field}}
                        {{form.init_travel_date|as_crispy_field}}
                        {{form.end_travel_date|as_crispy_field}}
                        {{form.user_budget|as_crispy_field}}
                    </table>
                    <div class="padder"></div>
                    <div class="row">
                        <div class="col d-flex flex-row justify-content-start">
                            <input type="submit" value="Submit" class="btn">
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

{% endblock %}