{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">#name of itin</span></h1>
{% else %}
  <h1>Add my stop to my Itinerary</h1>
{% endif %}

 <!-- we'll need a container to align 2 x labels (eg Era and Destination) and the form -->

<form action="" method="POST">
  {% csrf_token %}
  <label for="">Itinerary</label>
  <select name="itinerary" id="{{ itin.id }}">
    {% for itin in itins %}
      <option value="{{ itin.id }}" >{{ itin.init_name }}</option>
    {% endfor %}
  </select>
  
  <table>
    <!-- Shaun to review if this is what he wants eg table vs p vs else -->
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn">
</form>


{% endblock %}