{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<section class="container">
    
    <h1 class="title text-center">Add this Stop to my Itinerary</h1>
    
    <div class="padder"></div>

    <div class="container d-flex justify-content-center" id="functionality-crispy-form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row ">
                <div class="col">
                    <label class="sub-title" for="">Itinerary:</label>
                </div>
                <div class="col">
                    <select name="itinerary" id="{{ itin.id }}">
                        {% for itin in itins %}
                            <option value="{{ itin.id }}" >{{ itin.init_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <table>
                    {{form.dest_name|as_crispy_field}}
                    {{form.dest_description|as_crispy_field}}
                    {{form.init_date_at_dest|as_crispy_field}}
                    {{form.end_date_at_dest|as_crispy_field}}
                    {{form.comments|as_crispy_field}}
                </table>
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>

    </div>
</section>


{% endblock %}