{% extends 'base.html' %}
{% block content %}
    
<section class="container text-center">
    <div class="row">
        <h1 class="title">{{ itinerary.init_name }}</h1>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'itins_update' itinerary.id %}">Edit</a>
        <a href="{% url 'itins_delete' itinerary.id %}">Delete</a>
    </div>
    <div class="padder"></div>
    <div class="row">
        <h3>{{ itinerary.itin_description }}</h3>
    </div>
    <div class="row">
        <div class="col">
            <h5>Arrival Date: {{ itinerary.init_travel_date|date:"Y-m-d" }}</h5>
            <h5>Departure Date: {{ itinerary.end_travel_date|date:"Y-m-d" }}</h5>
        </div>
        <div class="col">
            <h5>Budget: {{ itinerary.user_budget }}</h5>
        </div>
    </div>
    <div class="padder"></div>

    <div class="row">
        <div class="destination-card">
            <h2>Stops:</h2>
            <ul>
              {% for stop in stops %}
                <li>
                  <p>Destination: {{ stop.dest_name }}</p>
                  <p>description: {{ stop.dest_description }}</p>
                  <p>Start Date: {{ stop.init_date_at_dest|date:"Y-m-d" }}</p>
                  <p>End Date: {{ stop.end_date_at_dest|date:"Y-m-d" }}</p>
                  <p>Comments: {{ stop.comments }}</p>
                  
                  <a href="{% url 'edit_stop' itinerary.id stop.id %}">Edit</a>
                  <a href="{% url 'delete_stop' itinerary.id stop.id %}">Delete</a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>


</section>

{% endblock %}
