{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<section class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 class="title">Edit Stop</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col d-flex align-items-start" id="functionality-crispy-form-container">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Save</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a href="{% url 'itins_detail' itinerary.id %}">Back to Itinerary</a>
        </div>
        <div class="col"></div>
    </div>
</section>

{% endblock %}