{% extends 'base.html' %}
{% block content %}

<!-- Shaun to review - only showing logged users itins - perhaps need a 'add itinerary  -->
    <!-- button' if there no itins eg when you sign up it goes to a blank page -->

<section class="container">
    <div class="padder"></div>
    <h1 class="title text-center">My Itineraries</h1>

    {% if itins %} 
        {% for itin in itins %}
        <div class="destination-card mb-4">
            
            <a href="{% url 'itins_detail' itin.id %}" style="text-decoration: none">
                <div class="row">
                    <h2 class=" text-start border-bottom mb-3">My '{{ itin.init_name }}' Itinerary</h2>
               </div>
            </a>
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <h5 class="mb-0">Overview:</h5>
                    <br>
                    <p class="mb-0">{{ itin.itin_description }}</p>
                </div>
                <div class="col">
                    <h5 class="mb-0">Travel dates:</h5>
                    <br> 
                    <p class="mb-0">{{ itin.init_travel_date|date:"d/m/Y" }} to {{ itin.end_travel_date|date:"d/m/Y" }}</p>
                </div>
                <div class="col d-flex justify-content-evenly">
                    <a href="{% url 'itins_detail' itin.id %}" class="btn">DETAILS</a>
                    <a href="{% url 'itins_delete' itin.id %}" class="btn">DELETE</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="padder container"></div>
        <div class="row">
          <div class="col d-flex flex-row justify-content-center">
              <a href="{% url 'itins_create'%}">
                  <button class="btn">CREATE ITINERARY</button>
              </a>
          </div>
      </div>
          </li>
          <div class="padder container"></div>
          <div class="padder container"></div>

    {% else %}
    <div class="text-center">
        <p>No itineraries found.</p>
        <a href="{% url 'itins_create' %}" class="btn">Add Itinerary</a>
    </div>
    {% endif %}
</section>

{% endblock %}