{% extends 'base.html' %}
{% block content %}

<!-- Shaun to review - only showing logged users itins - perhaps need a 'add itinerary  -->
    <!-- button' if there no itins eg when you sign up it goes to a blank page -->

<section class="container">
    <div class="padder"></div>
    <h1 class="title text-center">My Itineraries</h1>

    {% if itins %} 
        {% for itin in itins %}
        <div class="destination-card mb-4">
           
            <div class="row">
                 <h2 class=" text-start border-bottom border-warning ">My '{{ itin.init_name }}' Itinerary</h2>
            </div>
            <div class="row text-center">
                <div class="col d-flex align-items-center justify-content-center">
                For:<br>{{ itin.itin_description }}
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                Travel dates:<br> {{ itin.init_travel_date|date:"d/m" }} to {{ itin.end_travel_date|date:"d/m" }}
                </div>
                <div class="col d-flex align-items-center justify-content-end ">
                    <a href="{% url 'itins_detail' itin.id %}" style="text-decoration: none; margin-right: 10px;" class="btn">DETAIL</a>
                    <a href="{% url 'itins_create'%}" style="text-decoration: none; margin-right: 10px;" class="btn">CREATE</a>
                    <a href="{% url 'itins_delete' itin.id %}" class="btn" style="margin-right: 10px;">DELETE</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="text-center">
        <p>No itineraries found.</p>
        <a href="{% url 'itins_create' %}" class="btn">Add Itinerary</a>
    </div>
    {% endif %}
</section>

{% endblock %}