{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="padder"></div>
    <h1 class="title text-center">My Itineraries</h1>

    {% if itins %} 
        {% for itin in itins %}
        <div class="destination-card mb-4">
            
            <a href="{% url 'itins_detail' itin.id %}" style="text-decoration: none">
                <div class="row">
                    <h1 class=" border-bottom border-warning ">My '{{ itin.init_name }}' Itinerary</h1>
                </div>
            </a>
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <h5 class="mb-0">Overview:</h5>
                    <br>
                    <p class="mb-0">{{ itin.itin_description }}</p>
                </div>
                <div class="col">
                    <h5 class="mb-0">Travel dates:</h5>
                    <br> 
                    <p class="mb-0">{{ itin.init_travel_date|date:"d/m/Y" }} to {{ itin.end_travel_date|date:"d/m/Y" }}</p>
                </div>
                <div class="col d-flex justify-content-evenly">
                    <a href="{% url 'itins_detail' itin.id %}" class="btn">DETAILS</a>
                    <a href="{% url 'itins_delete' itin.id %}" class="btn">DELETE</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="padder"></div>
        <div class="row">
            <div class="col d-flex flex-row justify-content-center">
                <a href="{% url 'itins_create'%}">
                    <button class="btn">CREATE ITINERARY</button>
                </a>
            </div>
        </div>
            </li>
            <div class="padder"></div>
            <div class="padder"></div>

    {% else %}
    <div class="text-center">
        <p>You have yet to create an Itinerary. Click below to add.</p>
        <a href="{% url 'itins_create' %}" class="btn">CREATE ITINERARY</a>
    </div>
    {% endif %}

</section>

{% endblock %}