{% extends 'base.html' %}
{% block content %}

<div id="home-title" class="title text-center row">
    <div class="col">
        <h1>Where In Time Would You Like To Travel?</h1>
    </div>
</div>

<section class="container-fluid margin-auto text-center">
    <div class="row align-items-end ">
        <div class="col Ancient">
            {% for era in eras %}
                {% if era.era_name in "The Ancient World" %}
                    <a href="{% url 'dest_index' era.id %}"><h2 class="home-link">{{ era.era_name }}</h2></a>
                    <h4>{{ era.era_period }}</h4>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col Medieval-empty"></div>
        <div class="col Renaissance">
            {% for era in eras %}
                {% if era.era_name in "The Renaissance" %}
                    <a href="{% url 'dest_index' era.id %}"><h2 class="home-link">{{ era.era_name }}</h2></a>
                    <h4>{{ era.era_period }}</h4>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col Early-empty"></div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <img id="time-img" class="img-fluid" src="../static/images/timeline-ye-imgs.png" alt="timeline">
        </div>
    </div>

    </div>
    <div class="row">
        <div class="col Ancient-empty">
        </div>
        <div class="col Medieval">
            {% for era in eras %}
                {% if era.era_name in "The Medieval Age" %}
                    <a href="{% url 'dest_index' era.id %}"><h2 class="home-link">{{ era.era_name }}</h2></a>
                    <h4>{{ era.era_period }}</h4>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col Renaissance-empty"></div>
        <div class="col Early">
            {% for era in eras %}
                {% if era.era_name in "The Early Modern Period" %}
                    <a href="{% url 'dest_index' era.id %}"><h2 class="home-link">{{ era.era_name }}</h2></a>
                    <h4>{{ era.era_period }}</h4>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
   
    <div class="row">
        <div class="col container">
            <h4>About Destination In Time</h4>
            <p>The Historical Developers Collective Time Travel Agency has assembled this site to allow the intrepid time traveller
                 to find themselves inspiration in our Destinations. To start browsing, simply select an Era from the timeline 
                 above. If you wish to create a bespoke itinerary, then sign up (or login) from the navbar at the top of the page. 
                 From there you can navigate to My Itineraries and start creating a travel plan. Once you have an Itinerary you 
                 can get back to exploring. When you find a Destination that you are inspired by you can add it to one of your 
                 Itineraries. </p>
        </div>
    </div>
    <div class="padder"></div>    

</section>

{% endblock %}