{% extends 'base.html' %}
{% block content %}

<div class="main-title">
    <!-- <h1>Destinations In Time</h1> -->
    <!-- title being moved to navbar, eventually -->
</div>
<div class="title text-center">
    <h2>Where In Time Would You Like To Travel?</h2>
</div>

<!-- TODO: refactor lower row to be same as upper -->

<section class="container-fluid margin-auto text-center">
    <div class="row align-items-end ">
        <div class="col-2 offset-2 Ancient">
            <a href="#"><h3>The Ancient World</h3></a>
            <img id="time-img" class="img-fluid invert" src="../static/images/arrow_up_l-gr.png" alt="timeline">
        </div>
        <div class="col-2 Medieval">
            <!-- <p>img placeholder Ancient</p> -->
            <img class="home-img" src="https://a.cdn-hotels.com/gdcs/production79/d1857/e1db9533-f687-407a-904c-3d1bdf58a583.jpg?impolicy=fcrop&w=1600&h=1066&q=medium" alt="Bodaim Castle">
        </div>
        <div class="col-2 Renaissance">
            <a href="#"><h3>The Renaissance</h3></a>
            <img id="time-img" class="img-fluid invert" src="../static/images/arrow_up_l-gr.png" alt="timeline">
        </div>
        <div class="col-2 Early">
            <!-- <p>img placeholder Early Modern</p> -->
            <img class="home-img" src="https://www.japan-guide.com/g19/3801_topb.jpg" alt="Toshogu Shrine">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <img id="time-img" class="img-fluid" src="../static/images/timeline_l-gr_tr.png" alt="timeline">
            <!-- <img id="time-img" class="img-fluid" src="../static/images/timeline_tr.png" alt="timeline"> -->
        </div>
    </div>

    </div>
    <div class="row">
        <div class="col Ancient">
            <!-- <p>img placeholder Ancient</p> -->
            <img class="home-img" src="https://cdn.mos.cms.futurecdn.net/YMa7Wx2FyjQFUjEeqa72Rm-1920-80.jpg.webp" alt="Great Pyramids">
        </div>
        <div class="col Medieval">
            <img id="time-img" class="img-fluid" src="../static/images/arrow_up_l-gr.png" alt="timeline">
            <a href="#"><h3>The Medieval Age</h3></a>
        </div>
        <div class="col Renaissance">
            <!-- <p>img placeholder Renaissance</p> -->
            <img class="home-img" src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/232fd9759597afb51dd794f589cfb040c8940884/big-fb4cae6a60f7ee00830e779a2b984fd0.jpg" alt="The Duomo, Florence">
        </div>
        <div class="col Early">
            <img id="time-img" class="img-fluid" src="../static/images/arrow_up_l-gr.png" alt="timeline">
            <a href="#"><h3>The Early Modern Period</h3></a>
        </div>
    </div>
</section>




{% endblock %}