{% extends 'base.html' %}
{% block content %}

<div id="home-title" class="title text-center">
    <h2>Where In Time Would You Like To Travel?</h2>
</div>

{% for era in eras %}

<section class="container-fluid margin-auto text-center">
    <div class="row align-items-end ">
        <div class="col Ancient">
            {% if era.era_name in "The Ancient World" %}
            <a href="{% url 'dest_index' era.id %}"><h3>{{ era.era_name }}</h3></a>
            <h4>{{ era.era_period }}</h4>
            {% else %}
            <a href="#"><h3>The Ancient World</h3></a>
            <h4>c. 3000 BCE - c. 400 CE</h4>
            {% endif %}
        </div>
        <div class="col Medieval">
        </div>
        <div class="col Renaissance">
            <a href="eras/2/"><h3>The Renaissance</h3></a>
            <h4>c.1450 CE - c.1600 CE</h4>
        </div>
        <div class="col Early">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <img id="time-img" class="img-fluid" src="../static/images/timeline-ye-imgs.png" alt="timeline">
        </div>
    </div>

    </div>
    <div class="row">
        <div class="col Ancient">
        </div>
        <div class="col Medieval">
            <a href="eras/3/"><h3>The Medieval Age</h3></a>
            <h4>c. 400 CE - c. 1450 CE</h4>
        </div>
        <div class="col Renaissance">
        </div>
        <div class="col Early">
            <a href="eras/4/"><h3>The Early Modern Period</h3></a>
            <h4>c. 1600 CE - c. 1750 CE</h4>
        </div>
    </div>
</section>

{% endfor %}


{% endblock %}