body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: rgb(44, 44, 44); */
  background-color: rgb(0, 0, 0);
  color: goldenrod;
  /* font-family: 'Quintessential', cursive; */
  font-family: 'Klee One', serif;
}

main {
  flex: 1 0 auto;
}

/* -------- links on all pages -------- */
/* ~~~~~~~~~~~~~~~~~~~~ pick an option ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  /* color: rgb(92, 169, 200); */
  color:rgb(216 139 51);
  /* color:rgb(104, 55, 0); */
  width: auto !important;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* text-shadow: 1px 1px .5rem rgba(255, 217, 0, 0.75); */
    text-shadow: 1px 1px 2px rgb(92, 54, 0), 0 0 1em rgb(204, 148, 17), 0 0 0.2em rgb(184, 135, 22);
    /* text-shadow: 1px 1px 2px rgb(213, 118, 8), 0 0 1em rgb(218, 197, 45), 0 0 0.2em rgb(228, 172, 41); */
}


/* -------- navbar/ footer on all pages -------- */
a.navbar li.nav-link {
  color: rgb(95, 108, 113);
}

.page-head {
  /* background-image: url(../images/papyrus-1920w.png); */
  /* color: black; */
  background-color: rgba(54, 54, 54, 0.75);
  border-bottom: 0.5rem solid rgb(125, 115, 50);
}

#main-heading {
    font-weight: 700;
    font-size: 3rem;
}

.footer-view {
    border-top: .25rem solid rgb(125, 115, 50);
    background-color: rgb(54, 54, 54, 0.75);
    color: rgb(151, 137, 44);
}

/* -------- buttons on all pages -------- */
.btn {
  background-color: rgb(129, 128, 128);
  color: rgb(255, 217, 0);
  /* max-width: 20vh; */
}

.btn:hover {
  background-color: rgb(232, 156, 25);
  color: rgb(54, 54, 54);
}


/* ++++++++++++++++++++ General purpose utility classes ++++++++++++++++++++ */

.invert {
  rotate: 180deg;
}

.title {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.sub-title {
  margin-top: .75rem;
  margin-bottom: 1.25rem;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.destination-card {
  background-color: rgb(60, 60, 60);
  margin-bottom: 3rem;
  padding: 2rem;
  border: 0.5rem solid rgb(125, 115, 50);
  border-radius: 5% / 50%;
}

.padder {
  height: 2rem;
}

.shrink {
    width: auto!important;
}

.home-link, h1, h2, h3, h4 {
    font-family: 'Quintessential', cursive;
}

.placeholder {
    background-color: rgba(211, 77, 24, 0.5);
    text-align: center;
    padding-top: 10%;
}

.screen {
    min-height: 80vh;
    max-height: 80vh;
    object-fit: contain;
}

/* #carouselExampleindicators .carousel-item img {  
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height:50vh;
} */

/* .carousel-inner div {
    height: 80vh;
    object-fit: cover;
} */



/* ++++++++++++++++++++ end utility section ++++++++++++++++++++ */


/* ######### Page specific classes below ######### */


/* -------- home.html Headings and positioning imgs -------- */



.Ancient {
  position: relative;
  top: 12rem;
  left: 3rem;
}

.Renaissance {
  position: relative;
  top: 12rem;
  right: 1rem;
}

.Medieval {
  position: relative;
  bottom: 12rem;
  left: 2rem;
}

.Early {
  position: relative;
  bottom: 12rem;
  right: 3.5rem;
}

#home-title {
  margin-top: 1.5rem;
  margin-bottom: -3.5rem;
}

.home-img {
  height: 10rem;
}

#time-img {
  background-size: contain;
  background-position: center;
}

/* -------- destinations index-------- */

.era-desc {
  text-align: justify;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
}

/* ######### Page specific IDs below ######### */


/* -------- Form up -------- */

#crispy-form-container {
  background-color: rgb(60, 60, 60);
  margin-bottom: 3rem;
  padding: 2rem;
  max-width: 50vh;
  font-weight: bold;
}

#functionality-crispy-form-container {
  background-color: rgb(60, 60, 60);
  margin-bottom: 3rem;
  padding: 2rem;
  max-width: 80vh;
  font-weight: bold;
}

#hint_id_username {
  color: white;
  padding-left: 3vmin;
}

#hint_id_password1 {
  color: white;
}
#hint_id_password1 ul {
  list-style: none;
}

#hint_id_password2 {
  color: white;
  padding-left: 3vmin;
}
